<h1> Log In </h1>


<form action="/sessions" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Secret Code:</label><br>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Log In">
</form>