<div class="hero-image-2">
  <div class="hero-text-2">
    <p>Welcome Back!</p>
    </div>
    </div>
    <div class="text">
<h1> Please log in </h1>
<br>

<form action="/sessions" method="post">
<label for="username">Username:</label>
<input type="text" id="username" name="username">
<br>
<br>
<label for="password">Secret Code:</label>
<input type="password" id="password" name="password">
<br>
<br>
<input type="submit" value="Log in">
</form>