<div class="hero-image-2">
  <div class="hero-text-2">
    <p>Sign Up</p>
    </div>
    </div>
    <div class="text">
<h1> Start Tracking Dog Parks</h1> 
<p> Ruff Ruff!</p>
<br>
<form action="/users" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br>
  <br>
  <br>
  <label for="password">Secret Code:</label>
  <input type="password" id="password" name="password"><br>
  <br>
  <input type="submit" value="Sign Up">
</form>
<br>
<p> Sign up using a unique username and password.</p>
<p>Password must be at least 6 characters.</p>