<div class="hero-image-2">
  <div class="hero-text-2">
    <p>Dog Parks</p>
    </div>
    </div>
    <div class="text">
<h1><%= @user.username %>'s Dog Parks</h1> 
<br>
    <% if @user.dog_parks.any? %>
    <% @user.dog_parks.each do |dogpark| %>
       <li><a href="/dogparks/<%=dogpark.id %>"><%=dogpark.name%></a></li>
           <% end %>
        <% else %>
   <h2> You haven't logged any dog parks yet. Womp Womp. </h2>
        <% if @user == current_user %>
     <p><a href="/dogparks/new"> Log Your First Dog Park </a></p>
         <% end %>
    <% end %>
    <br>
    <br>
    <img src="/images/favicon.ico" width="50" height="50"><img src="/images/favicon.ico" width="50" height="50"><img src="/images/favicon.ico" width="50" height="50">

</div>

   
