<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Romp!</title>
        <meta name="description" content="An app for tracking dog parks">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
 
      <nav>
        <img class="logo" src="/images/favicon.ico">
          <% if logged_in? %>
            <a href="/profile">My Profile</a>&nbsp;&nbsp;
            <a href="/dogparks/new">New Park</a>&nbsp;&nbsp;
            <a href="/dogparks">All Dog Parks</a>&nbsp;&nbsp;
            <a href="/users">All Users</a>&nbsp;&nbsp;
            <a href="/logout">Log Out</a>&nbsp;&nbsp;
        <% end %>
      </nav>

  
    <title>Romp! Track All Your Favorite DC Dog Parks</title>
    



      
 
        <% if flash[:errors] %> 
          <ul class="errors">
            <% flash[:errors].each do |error| %>
              <li><%= error %></li>
               <% end %>
          </ul>  
        <% end %>
           
    <%= yield %>


  </body>
</html>
